name: Auto message on PR opened

on:
  pull_request_target:
    types: [opened]

jobs:
  auto-response:
    runs-on: ubuntu-latest

    steps:
    - uses: derekprior/add-autoresponse@master
      env:
        GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
      with:
        respondableId: ${{ github.event.pull_request.node_id }}
        response: "Our team will soon review your PR. Thanks @${{ github.event.pull_request.user.login }} :)"
        author: ${{ github.event.pull_request.user.login }}
        exemptedAuthors: "Vikash-8090-Yadav"
